<!DOCTYPE html>
<html>
    <head>
        <style>
            img{
            width: 300px  }
        </style>
    </head>
    <body>

        <h1>Math Trivia Game</h1>
        <form action="/" method="POST">
            <button type="submit">Home</button>
        </form>
        <h2>Chemistry Questions</h2>

        <image src="https://ecdn.teacherspayteachers.com/thumbitem/Unit-Conversion-Table-Editable-3043024-1488522851/original-3043024-1.jpg"></image>
        <form action="/difficulty?category=unit" method="POST">
            <button type="submit">Unit Conversions Questions</button>
        </form>

        <image src = "https://jlk162.files.wordpress.com/2013/01/carbon-atom-11-large.png"></image>
        <form action="/difficulty?category=atom" method="POST">
            <button type="submit">Atom Questions</button>
        </form>
    </body>
</html>