<html>
    <body>
        <script src="chem.js"></script>
        <div id="conversions">
            <image src=""></image>
            <button type="button"></button>
        </div>
    </body>
</html>