<html>
    <head>
        <body>
            <img src="https://image.shutterstock.com/image-illustration/easy-button-isolated-260nw-162373838.jpg" alt="easy" style="width:300px;height:300px">
            <form action="/problem?category=<%= name %>difficulty=easy" method="POST">
                <button type="submit">Easy</button>
            </form>

            <img src="https://miro.medium.com/max/968/1*F6SrJR7_s95r6oCF3ugMZw.png" alt="medium" style="width:300px;height:300px">
            <form action="/problem?category=<%= name %>difficulty=medium" method="POST">
                <button type="submit">Normal</button>
            </form>

            <img src="https://president.asu.edu/sites/default/files/styles/home_timeline_video/public/math_hard_girl.jpg?itok=HYC68nsh" alt="hard" style="width:300px;height:300px">
            <form action="/problem?category=<%= name %>difficulty=hard" method="POST">
                <button type="submit">Hard</button>
            </form>
        </body>
    </head>
</html>