<html>
    <body>
        <style>
            h1 {color:blue};
        </style>
        <h1>Math Trivia Game</h1>
        <img src="mathicon.png" alt="Math Operations"> <!-- Not sure why this doesn't work now -->
        <button type="button">Practice Math</button>
        <img src="chemicon.jpg" alt="Chemistry Flask"> <!-- Not sure why this doesn't work now -->
        <button type="button">Practice Chemistry</button>

        <% if (name != undefined) { %>
            <p>Hello <%= name %>!</p>
        <% } %>
    </body>
</html>