<html>
        <head>
            <body>
                <button>
                <img src="https://www.science.edu/acellus/wp-content/uploads/2016/12/Algebra-Spanish-720x388.jpg" alt = "algebra" style="width:300px;height:300px;">
                <p>Algebra </p>
                <!--Redirect to algebra problem page-->
                </button>

                <button>
                <img src="https://www.mathsisfun.com/numbers/images/arithmetic.svg" alt = "arithmetic" style="width:300px;height:300px;">
                <p>Arithmetic</p>
                <!--Redirect to arithmetic problem page-->
                </button>
            </body>
        </head>
</html>