<html>
        <head>
            <body>
                <img src="https://www.science.edu/acellus/wp-content/uploads/2016/12/Algebra-Spanish-720x388.jpg" alt = "algebra" style="width:300px;height:300px;">
                <form action="/difficulty?category=algebra" method="POST">
                    <button type="submit">Algebra Questions</button>
                </form>
             
                <img src="https://www.mathsisfun.com/numbers/images/arithmetic.svg" alt = "arithmetic" style="width:300px;height:300px;">
                <form action="/difficulty?category=arithmetic" method="POST">
                    <button type="submit">Arithmetic Questions</button>
                </form>
                
            </body>
        </head>
</html>