<!DOCTYPE html>
<html>
    <body>
        <!-- <script src="problem-generator.js"></script> -->
        <header id="Problem Display">
        </header>

        <p>This is the category: <%= category %></p>
        <p>This is the difficulty: <%= difficulty %></p>
        
    </body>
</html>